
<form action="/quotes/add" method="POST">
    <div class="form-group">
        <label for="inputName" class="form-label mt-4">Nom de l'auteur</label>
        <input required type="text" class="form-control" id="inputName" name="name" placeholder="Entrez le nom de l'auteur">
    </div>
    <div class="form-group pb-4">
        <label for="inputQuote" class="form-label mt-4">Citation</label>
        <input required type="text" class="form-control" id="inputQuote" name="quote" placeholder="Entrez la citation">
    </div>
    <button type="submit" class="btn btn-primary mb-4">Ajouter une citation</button>
</form>